@model WebApplicationNawatech.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title mb-3 text-center">Login</h3>
                <form asp-action="Login" method="post">
                    <input type="hidden" name="returnUrl" value="@Context.Request.Query["ReturnUrl"]" />

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-outline-primary w-100">Login</button>
                </form>

                <div class="mt-3 text-center">
                    <small>Belum punya akun? <a asp-action="Register">Register</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        @if (TempData["SuccessMessage"] != null)
        {
                    <text>
                        Swal.fire(
                        icon: 'success',
                        title: 'Success',
                        text: '@TempData["SuccessMessage"]',
                        timer: 2000,
                        showConfirmButton: false
                        );
                    </text>
        }
    </script>
}
